.header {
  background-color: #c3e1f7; /* Light blue background */
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.web-name {
  font-size: 20px;
  font-weight: bold;
  color: #2b2b2b;
  font-family: 'Segoe UI', sans-serif;
}
